@model EmployeeUpdateDto
<title>Payroll Management</title>

<h1>Kullanıcı Ekleme</h1>
<div b-4cazk3bw56 class="card" style="padding:10px;">
    <form asp-controller="Employee" asp-action="EmployeeUpdate" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Id"/>
        <div class="form-group">
            <label>Depertman</label>
            <select id="departmanList" class="form-control" asp-for="DepertmanId" asp-items="@(new SelectList(Model.Departmans,"Id","Name"))"></select>
        </div>
        <div class="form-group">

            <label asp-for="FirstName" id="defaultFormControlInput" class="form-label">Adı</label>
            <input asp-for="FirstName" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Adı" aria-describedby="defaultFormControlHelp">
            <span asp-validation-for="FirstName" class="text-danger"></span>

        </div>
        <div class="form-group">

            <label asp-for="LastName" id="defaultFormControlInput" class="form-label">Soyadı</label>
            <input asp-for="LastName" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Adı" aria-describedby="defaultFormControlHelp">
            <span asp-validation-for="LastName" class="text-danger"></span>

        </div>
        <div class="form-group">

            <label asp-for="Gender" id="defaultFormControlInput" class="form-label">Cinsiyet</label>
            <input asp-for="Gender" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Cinsiyeti" aria-describedby="defaultFormControlHelp">
            <span asp-validation-for="Gender" class="text-danger"></span>

        </div>
        <div class="form-group">

            <label asp-for="Addres" id="defaultFormControlInput" class="form-label">Adres</label>
            <input asp-for="Addres" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Adres" aria-describedby="defaultFormControlHelp">
            <span asp-validation-for="Addres" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Email" id="defaultFormControlInput" class="form-label"> Email Adresi</label>
            <input asp-for="Email" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Email" aria-describedby="defaultFormControlHelp">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" id="defaultFormControlInput" class="form-label"> Telefon Numarası</label>
            <input asp-for="PhoneNumber" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Telefon" aria-describedby="defaultFormControlHelp">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="SGKNumara" id="defaultFormControlInput" class="form-label"> SGK Numara</label>
            <input asp-for="SGKNumara" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="SGK Numarası" aria-describedby="defaultFormControlHelp">
            <span asp-validation-for="SGKNumara" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="UserName" id="defaultFormControlInput" class="form-label"> Kullancı Adı</label>
            <input asp-for="UserName" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Kullanıcı Adı" aria-describedby="defaultFormControlHelp">
            <span asp-validation-for="UserName" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label>Rol</label>
            <select id="roleList" class="form-control" asp-for="RoleId" asp-items="@(new SelectList(Model.Roles,"Id","Name"))"></select>
        </div>
       
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary"> Kaydet </button>
        </div>
    </form>
</div>

